In [2]:
import os
import sys
import yaml
import numpy as np
import pandas as pd
from pathlib import Path
from scipy import stats
path_folder = '/home/bdebian/Documents/Projects/Stoke_prediccition/app_prediction/'
omitir = ''

def search_subfolders(path:str):
    '''Funcion para agregar rutas al path de ejecucion'''
    folder = []
    for root, dirs, _ in os.walk(path, topdown=False):
        for name in dirs:
            if name == omitir:
                print(f"[INFO] carpeta omitida: {name}")
            else:
                folder.append(os.path.join(root, name))
    return folder


for i in search_subfolders(path_folder):
    sys.path.insert(0, i)

from class_load import LoadFiles
from features_sqlserver import HandleDBsqlserver

In [3]:
CONFIG_FILE ='/home/bdebian/Documents/Projects/Stoke_prediccition/app_prediction/src/data/config/config.yaml' 
with open(CONFIG_FILE, 'r', encoding='utf-8') as file:
    parameters = yaml.safe_load(file)

In [4]:
connection_parameter = parameters['connection_data_source']

In [5]:
connection_parameter

{'postgresql': {'host': 'localhost',
  'database': 'predicciones',
  'user': 'bdebian',
  'password': '0913..',
  'port': 5432},
 'redis': {'host': '127.0.0.1', 'db': 1, 'port': 6379},
 'sqlserver': {'server': '127.0.0.1',
  'database': 'master',
  'username': 'sa',
  'password': '0913PASSword!'}}

In [13]:
data_source = HandleDBsqlserver()

In [14]:
connection_source = data_source.get_config_file(connection_parameter)

In [15]:
fix_query = data_source.fix_dict_query(
    tabla=parameters['query_template']['table'],
    columnas=list(parameters['query_template']['columns'].values()),
    order=parameters['query_template']['order'],
    where=parameters['query_template']['where']
)

In [16]:
query = data_source.prepare_query_replace_value(
    sql_file=parameters['query']['query_read'],
    data_replace=fix_query
)

In [17]:
query

'SELECT "Fecha Creaci√≥n", "Material (Cod)", "Peso neto (TON)", "Solicitate (Cod)", "Cant Pedido UMV", "Valor Neto" FROM position '

In [18]:
data = data_source.get_table(connection_parameter,query)

In [19]:
data

In [27]:
old = list(data.columns)
new = parameters['query_template_write']['columns'].values()
rename_cols = {x:y for x,y in zip(old,new)}
print(rename_cols)
data.rename(columns=rename_cols)

{0: 'Fecha', 1: 'predicion', 2: 'varianza', 3: 'Material (Cod)', 4: 'Solicitate (Cod)'}

        Fecha  predicion  varianza Material (Cod)   Solicitate (Cod)
0  2020-01-01         23  John Doe          Salsa  Software Engineer
1  2020-01-01      21233  carl Doe          Salsa  Software Engineer

In [1]:
import pyodbc

server = '127.0.0.1' 
database = 'master' 
username = 'sa' 
password = '0913PASSword!' 

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()

In [6]:
server = '127.0.0.1' 
database = 'master' 
username = 'sa' 
password = '0913PASSword!'

# Crear una instancia de la clase SQLServerDB
db = SQLServerDB(server,database,username,password)

# # Datos para insertar en la tabla
# data = {
#     'name': 'John Doe',
#     'position': 'Software Engineer'
# }

# # Insertar datos en la tabla
# db.create('employees', data)

NameError: name 'SQLServerDB' is not defined

In [81]:
data = db.read('Employees')

In [82]:
data

[(1, datetime.date(2020, 1, 1), 23, 'John Doe', 'Salsa', 'Software Engineer'),
 (2, datetime.date(2020, 1, 1), 21233, 'carl Doe', 'Salsa', 'Software Engineer')]

In [47]:
pd.DataFrame((tuple(t) for t in data), columns=['EmployeeID','FirstName','LastName','position'])

   EmployeeID FirstName LastName           position
0           1  John Doe    Salsa  Software Engineer
1           2  John Doe    Salsa  Software Engineer

In [80]:
# Datos para insertar en la tabla
data = {
    # 'EmployeeID' : 2,abs
    'DateUsed': '2020-01-01',
    'Serial': 21233,
    'FirstName': 'carl Doe',
    'LastName': 'Salsa',
    'position': 'Software Engineer
}

# Insertar datos en la tabla
db.create('Employees', data)

In [29]:
['list','uno'] == ['list','udno']

False